<div class="laptop sticky-top">
    <div class="list-group ">
        <a  class="list-group-item list-group-item-action"
          routerLink="/"
          [class.active]="!category"
          >All Categories</a>
          <a 
           *ngFor="let c of category$ | async" class="list-group-item list-group-item-action"
            routerLink="/"
            [queryParams]="{category: c.key }"
            [class.active]="category === c.key"
          >  {{c.payload.val().name}}
      </a>
      </div>
    </div>
    <div class="mobile sticky-top ">
  <div class="list-group ">
    <!-- <button type="button"class="btn btn-outline-info" (click)="toggle()">Categories</button> -->
    <i class="fa fa-bars fa-lg" *ngIf="!isActive" (click)="toggle()" area-hidden="true"></i>
    <i class="fa fa-angle-double-up fa-2x" *ngIf="isActive" (click)="toggle()" area-hidden="true"></i>
    <a [style.display]="isActive ? 'block' : 'none'" class="list-group-item list-group-item-action"
      routerLink="/"
      [class.active]="!category"
      >All Categories</a>
      <a [style.display]="isActive ? 'block' : 'none'"
       *ngFor="let c of category$ | async" class="list-group-item list-group-item-action"
        routerLink="/"
        [queryParams]="{category: c.key }"
        [class.active]="category === c.key"
      >  {{c.payload.val().name}}
  </a>
  </div>
</div>