/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import"font-awesome/css/font-awesome.css"; 
$primary-color : #0a8064;
$secondary-color : #00624b;
//   Theme 
.fa-leaf:before {
    content: "\f06c";
    color: $secondary-color;
}   

.fa-shopping-cart:before {
    content: "\f07a";
    color: $secondary-color;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-secondary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary  :hover{
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:disabled {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}
// ---------------------------

body {padding-top : 80px}

@media only screen and (max-width : 512px){
    div.sticky-top  {
       margin-bottom : 9px;
        width : 368px;
    }
    }

    .laptop {
        top: 80px;
        display: block;
    }

    .mobile{
        display : none;
    }
   
    @media only screen and (max-width : 512px){
        .mobile{
            display : block;
        }
        .laptop{
            display: none;
        }
    }

    @media only screen and (max-width : 390px){
        .list-group-item-action{
            width : 96%;
        }
    }    
    @media only screen and (max-width : 512px) and (min-width : 390px){
        div.sticky-top  {
           
            width : 353px;
        }
    }

    @font-face {
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
        font-display: swap;
      }
