<div  *ngIf="product.title" class="card" style="width: 23rem;">
   <img [src]="product.imageUrl" *ngIf="product.imageUrl" class="card-img-top">
   <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.price | currency }}</p>
   </div>   
   <div class="card-footer" *ngIf="showActions"> 
    <button
      *ngIf ="getQuantity() == 0 ; else updateQuantity" 
      (click)="addToCart(product)"
      class="btn btn-secondary btn-block"
      >Add to Cart
    </button>   
    <ng-template #updateQuantity>
       <app-update-qty [product]="product" [shoppingCart]="ShoppingCart" ></app-update-qty>
         <!-- <div class="row no-gutters">
            <div class="col-2">
               <button class="btn btn-secondary btn-block" (click)="removeFromCart(product)">-</button>
            </div>
            <div class="col text-center bold">
               {{ getQuantity() }} in Cart
            </div>
            <div class="col-2">
               <button class="btn btn-secondary btn-block" (click)="addToCart(product)">+</button>
            </div>
         </div> -->
      </ng-template>
   </div>
</div>


   